@using Microsoft.AspNetCore.Identity
@model ASP6_SinAuth.Models.ViewModels.ClientHome

@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    @if (User.IsInRole("LaboratoryWorker"))
    {
        <div class="row">
            <div class="col-md-8">
                <h3 class="display-6">Planned tests</h3>
                <table class="table table-sm table-bordered table-bordered">
                    <tr><th>Test Type</th><th>Date</th><th>Lab</th><th>Update</th><th>Delete</th></tr>
                    @foreach (var test in Model.FutureTests)
                    {
                        <tr>
                            <td>@test.type.description</td>
                            <td>@test.testDate</td>
                            <td>@test.laboratory.Name - @test.laboratory.Location</td>
                            <td><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@test.Id">Update</a></td>
                            <td>
                                <a asp-controller="Tests" asp-action="Delete" asp-route-id="@test.Id" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Cancel booking
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="col-md-4">
                <h3 class="display-6">Test results</h3>
                <table class="table table-sm table-bordered table-bordered">
                    <tr><th>Test Type</th><th>Date</th><th>Result</th></tr>
                    @foreach (var test in Model.Results)
                    {
                        <tr>
                            <td>@test.type.description</td>
                            <td>@test.testDate</td>
                            <td>@test.result</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <h1 class="display-4">Welcome to the clinic</h1>
        <p>Please register or create a new account</p>
        <hr />
        <p>Or see our offers<a asp-controller="TestTypes" asp-action="">Tests Types</a> </p>
    }

</div>
