@using ASP6_SinAuth.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@model IEnumerable<ASP6_SinAuth.Models.TestType>

@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Avaible tests</h1>
@using (Html.BeginForm(FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("filter")
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Test type
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Laboratory
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TestType item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.laboratory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.laboratory.Location)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-controller="Tests" asp-action="Create" asp-route-id="@item.Id">Order</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
